streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-groq
faiss-cpu
pypdf
python-dotenv
sentence-transformers
huggingface-hub
